#edd-gallery-images {
  overflow: hidden;
  display: block;
  margin-top: 10px; }
  #edd-gallery-images .edd-images-list {
    list-style: none;
    padding: 0;
    margin: 0; }
  #edd-gallery-images .image-item {
    height: auto;
    width: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
    #edd-gallery-images .image-item img {
      height: auto;
      max-width: 100%;
      vertical-align: middle; }


